@import "tailwindcss";

/* Default theme: Dark Mode */ 

@theme {
    /* Colors */
    --color-bg: #141414;
    --color-darkGray: #1A1A1A;
    --color-mainText: #ffffff;
    --color-secText: #999999;
    --color-mainPurple: #703BF7;
    --color-secPurple: #A685FA;
    --color-borderColor: #262626;
    --color-topRightArrow: #4D4D4D;
    /* Spacing */
    --spacing-pc: 8.4375%;
    --spacing-laptop: 5.5555%;
    --spacing-mobile: 20px;
    /* Screens */
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1440px;
    --breakpoint-pc: 1920px;
    }
    
    
    
    /* Light mode overrides (if you use .light class or media query) */

.light {
    --color-bg: #ffffff;
    --color-darkGray: #f5f5f5;
    --color-mainText: #000000;
    --color-secText: #666666;
}


/* Utility class */

@layer utilities {
    .font-urbanist {
        font-family: 'Urbanist', sans-serif;
    }
}